extends layout

block content
  .div.featurette
    .h1 Thank You! :)
    br
    |     
    .h4 A link with the slack invite has been sent to your email ID.
    br
    |   
    br
    |    
    br
    |         