extends layout

block content
  .div.featurette
    .h1 Thank You!
    br
    |     
    .h4 An email with the slack inviter link will be sent to you shortly.
    br
    |   
    br
    |    
    br
    |  
  br
  |    
  br
  |  
  br
  |    
  br
  |        
  .footer.page-footer.blue-grey.featurette1
    .div.footer-copyright
      .div.container
        .h4 © Systers, an Anita Borg Institute Community      