extends layout

block content
  .div.featurette
    .h1 Thank You!
    br
    |     
    .h4 An email with the slack inviter link will be sent to you shortly.
    br
    |   
    br
    |    
    br
    |         