extends layout

block content
  .div.featurette
    .h1 We're almost there!
    br
    |     
    .h4 Name: #{user.name}
    br
    |   
    .h4 Email : #{user.emailid}
    br
    |   
    br
    |  
    .col-md-4.col-md-offset-4
      div.form-group  
        label.checkbox-inline
          input(type="checkbox", name="hidden")
          | By checking this box, I affirm that I have read and accept to be bound by the AnitaB.org #[a(href="https://ghc.anitab.org/code-of-conduct/") Code of Conduct], #[a(href="https://anitab.org/terms-of-use/") Terms], and #[a(href="https://anitab.org/privacy-policy/") Privacy Policy]. Further, I consent to the use of my information for the stated purpose.
        br
        |    
        br
        |  
        +a-btn("/success") Get an Email Invite!
    br
    |    
    br
    |  
    br
    |    
    br
    |    
    br
    |  
    br
    |    
    br
    |        
    br
    |    
    br
    |  