extends layout

block content
  .div.featurette
    .h1 We're almost there!
    br
    |     
    .h4 Name: #{user.name}
    br
    |   
    .h4 Email : #{user.emailid}
    br
    |   
    br
    |   
    .col-md-4.col-md-offset-4
      div(class='ScrollableTnC')
        .h1 Terms and Conditions
        br
        |     
        .p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed tellus at libero venenatis fringilla a id turpis. Cras egestas diam et libero auctor varius. Curabitur sed dictum neque, ut pulvinar dolor. Pellentesque eget tellus eget purus tempor facilisis. Morbi auctor, quam vel volutpat iaculis, lectus mauris condimentum libero, sed tincidunt eros risus ut orci. Vivamus facilisis urna dolor, vel posuere nunc tristique in. Etiam dictum nisl tellus, eget auctor ligula cursus vel. Curabitur aliquam et tellus eget interdum. Vivamus ultricies, turpis et commodo volutpat, nisi felis lacinia justo, non tempor magna mauris a eros. Morbi venenatis laoreet semper. Cras rutrum interdum varius.
      div.form-group
        +checkbox-inline("I agree to the Terms and Conditions.")
        br
        |    
        br
        |    
        +a-btn("/") Get an Email Invite!
    br
    |    
    br
    |  
    br
    |    
    br
    |         
    //- input(type='text', value='#{user.name}' name='lname' style='color:black;' disabled='') TODO future