body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../image/img01.jpg);
  background-size: cover;
  text-align: center;
}

a {
  color: #00B7FF;
}

.black-back {
  background-color: #000000;
  color: #FFFFFF;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 24px;
}
.featurette {
  color: #fff;
  background-color: rgba(75, 85, 115, 0.67);
  padding: 5em 2em
}
h1 {
  color: #fff;
  margin-top: 0;
  /* font-size: 4.5rem; */
}
h4 {
  font-size: 4em;
  margin: 2rem 0;
  display: block;
  float: center;
}
